<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kibicom.my_wd_helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="my_helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="kibicom.my_wd_helper.Properties.Settings.kwj_testConnectionString"
            connectionString="Data Source=SERVER3;Initial Catalog=kwj_test;Persist Security Info=True;User ID=sa;Password=&quot;82757662=z&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <kibicom.my_wd_helper.Properties.Settings>
            <setting name="josi_end_point" serializeAs="String">
                <value>https://192.168.1.139/webproj/git/kibicom_venta/index.php</value>
            </setting>
            <setting name="josi_store_login" serializeAs="String">
                <value />
            </setting>
            <setting name="josi_store_pass" serializeAs="String">
                <value />
            </setting>
        </kibicom.my_wd_helper.Properties.Settings>
        <my_helper.Properties.Settings>
            <setting name="josi_end_point" serializeAs="String">
                <value>https://192.168.1.139/webproj/git/kibicom_venta/index.php</value>
            </setting>
            <setting name="josi_store_login" serializeAs="String">
                <value />
            </setting>
            <setting name="josi_store_pass" serializeAs="String">
                <value />
            </setting>
        </my_helper.Properties.Settings>
    </applicationSettings>
</configuration>
